footer {
    height: 8rem;
    background-color: black;
    color: white;
}

footer h3 {
    font-size: 30px;
}

footer p {
    margin-top: 20%;
}

@media (min-width: 768px) {
    
    footer {
        height: 8rem;
    }

    footer p {
        margin-top: 7%;
    }
}

@media (min-width: 1024px) {

    footer {
        height: 10rem;
    }
}